<div class="cards">
  <div class="card1"><app-card
    titulo="Basic"
    preco="$19.99"
    info1="500 GB"
    info2="2"
    info3="3"
    ></app-card></div>

  <div class="card2"><app-card 
    titulo="Professional"
    preco="$24.99"
    info1="1 TB"
    info2="5"
    info3="10"
    bg="lightblue"
    altura="250px"
    cor="white"
    ></app-card></div>

  <div class="card1"><app-card
    titulo="Master"
    preco="$39.99"
    info1="2 TB"
    info2="10"
    info3="20"
    ></app-card></div>
</div>

<!-- <div class="wrapper">
  <app-btn (click)="alertar()"></app-btn>
</div>  -->